[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
docker = "*"
redis = "*"
celery = "==4.4.7"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
pillow = "*"

[requires]
python_version = "3.8"
